<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <div class="logo">Blog</div>
        <div class="auth">
            <a href="#">Log in</a>
            <a href="#">Create account</a>
        </div>
    </header>
    <main>
        <section class="skills">
            <div class="back_skills"></div>
            <div class="container_skills">
                <h2>Skills</h2>
                <div class="container_cards">
                    <div class="cards">
                        <a href="html">
                            <div class="top_card">
                                <h3>HTML</h3>
                            </div>
                            <div class="media_card">
                                <img src="/images/html5-original.svg" alt="html">
                            </div>
                        </a>
                    </div>
                    <div class="cards">
                        <a href="css">
                            <div class="top_card">
                                <h3>CSS</h3>
                            </div>
                            <div class="media_card">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
                            </div>
                        </a>
                    </div>
                    <div class="cards">
                        <a href="js">
                            <div class="top_card">
                                <h3>JavaScript</h3>
                            </div>
                            <div class="media_card">
                                <img
                                    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                            </div>
                        </a>
                    </div>
                    <div class="cards">
                    </div>
                </div>

            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>