<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <link rel="stylesheet" href="/stylesheets/pagcss.css">
</head>
<body>
    <header>
        <div class="logo"><a href="/">Blog</a></div>
        <div class="auth">
            <a href="#">Log in</a>
            <a href="#">Create account</a>
        </div>
    </header>
    <div class="back_main"></div>
    <main>
        <h1>CSS</h1>
        <hr>
        <div class="summario">
            <ul>
                <li><a href="#selectors"><h3>Selectors</h3></a></li>
                <li><a href="#box-model"><h3>Box Model</h3></a></li>
            </ul>
        </div>
        <hr>
        <section id="selectors">
            <h2>Selectors</h2>
            
        </section>
        <section id="box-model">
            <h2>Box Model</h2>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>