<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página HTML</title>
    <link rel="stylesheet" href="/stylesheets/paghtml.css">
</head>

<body>
    <header>
        <div class="logo"><a href="/">Blog</a></div>
        <div class="auth">
            <a href="#">Log in</a>
            <a href="#">Create account</a>
        </div>
    </header>
    <div class="back_main"></div>
    <main>
        <h1>HTML</h1>
        <hr>
        <div class="summario">
            <h2>Sumário</h2>
            <ul>
                <li>
                    <a href="#">
                        <h3>Basics</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Lists</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Tables</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Semantics</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Forms</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Formating</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Media</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Head Elements</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Entities</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Continua</h3>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <section id="basics">
            <h2>Basic</h2>
            <p>
                Para entender o básico de HTML precisamos compreender como é a sua estrutura. Como utilizar elementos
                básicos como cabeçalhos, parágrafos, links e imagens.
            </p>
            <h3>Esrutura</h3>
            <p>
                A estrutura normal de um arquivo HTML consiste de:
            </p>
            <ul>
                <li>
                    Uma declaração <code>&lt;!DOCTYPE&gt;</code> (Ele represeenta o tipo de documento).
                </li>
                <li>
                    <code>&lt;html&gt;</code> (Define a raiz do documento HTML).
                </li>
                <li>
                    <code>&lt;head&gt;</code> (Ele contém metadados sobre o documento HTML).
                </li>
                <li>
                    <code>&lt;body&gt;</code> (Define a parte que será vizível ao usuário).
                </li>
            </ul>
            <p>
                Exemplo:
            </p>
            <div class="code_view">
                <code>
                    &lt;!DOCTYPE&gt;<br>
                    &lt;html&gt;<br>
                    &lt;head&gt;<br>
                    &lt;/head&gt;<br>
                    &lt;body&gt;<br>
                    &nbsp;&nbsp;&nbsp;&lt;h1&gt;
                    Hello World!
                    &lt;/h1&gt;<br>
                    &lt;/body&gt;<br>
                    &lt;/html&gt;<br>
                </code>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>